h1, h2{
    color: black;
    text-align: center;
}
body {
    background-color: rgb(220, 237, 244);
    display: block;
    margin-bottom: 20px;
    cursor: pointer; 
}

main {
    cursor: pointer; 
    font:300px;
    text-align:center;
}

#input-texto {
    width: 800px;
    height: 300px;
    text-align: top;  
}

.form-box{
    font: black;
    border: 1px;
    border-radius: 10px;
    text-align: justify;
    box-align: left;
    columns: float;
    margin: 20px;
    float: left;
}

.msg.box{
    background-color: white;
    position: absolute;
    right: 100%;
    text-align: justify;
    padding: 10px;
    resize: none;
    left: 1000px;
    border-radius: 32px;
    float: right;
    font: black 100px;
    box-sizing: 100px;
    margin-bottom: 70px;
    font-size: medium;
    align-content: center;
}

.encriptar-texto {
    background-color: rgb(36, 133, 218);
    height: 67px;
    width: 328px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
    font: white;
    color: white;
    margin: 10px;
    transition: 2s background;
    cursor: pointer; 
}

.desencriptar-texto{
    color:rgb(67, 67, 234);
    font: blue;
    background: #D8DFE8;
    height: 67px;
    width: 328px;
    left: 352px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
    border: 1px solid #0A3871;
    margin:auto;
    transition: 2s background;
    cursor: pointer; 
}

textarea {
    font: black 60px;
    background-color: white;
    height: 900px;
    width: 400px;
    left: 1000px;
    top: 40px;
    border-radius: 32px;
}

button{
    padding: 15px 25px;
    background-color: rgb(67, 67, 234);
    color: rgb(253, 245, 245);
    border-radius: 10%;
    display: inline-block;
    margin: 20px;
}
.entrada-texto{
    height: 67px;
    width: 328px;
    left: 352px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
    background-color: rgb(220, 237, 244);
    font: black;
    border-radius: 10px;
    text-align: justify;
}
#copiar-texto{
    background-color: rgb(127, 169, 173);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin: 30px;
}

.text-input{
    background-color:rgb(220, 237, 244);
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 48px;
    line-height: 150%;
    box-align: left;
    resize: none;
}

.copiar{
    background-color: rgb(127, 169, 173);
    font: blue;
    color:white;
    height: 67px;
    width: 328px;
    position: center;
    border-radius: 24px;
    padding: 24px;
    border: 1px solid #0A3871;
    margin: 0 auto;
    display: block;
    resize: none;
    transition: 2s background;
    cursor: pointer; 
}

footer{
    background-color: rgb(36, 133, 218);
    text-align: center;
    box-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
    color: white;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    flex:auto;
    margin-top: 20px;
 }

 .input li:active{
     border: white;
 }

 form label{
     display: block;
 }
#contacto{
    color: rgb(220, 237, 244);
    font-size: 20px; 
    display: inline;
    transition: 2s background;
    margin: 30px;
}

 .copyright li:active {
    border-color: white;
 }
 
 nav{
    display: inline-block;
    margin: 10px;
    padding: 10px;
 }
