h1, h2{
    color: black;
    text-align: center; 
}


body {
    padding: 3em 0;
    background: linear-gradient(white, cyan, darkblue);
    display: block;
    margin-bottom: 20px;
    cursor: pointer; 
}

main {
    cursor: pointer; 
    font:300px;
    text-align:center;
}

#input-texto {
    width: 800px;
    height: 300px;
    text-align: top;  
}

.form-box{
    font: black;
    border: 1px;
    border-radius: 10px;
    text-align: justify;
    box-align: left;
    columns: float;
    margin: 20px;
    float: left;
}

.msg{
    display:flex;
}

img{
    position: left;
}


.encriptar-texto, button {
    background: #D8DFE8;
    background-color: rgb(36, 133, 218);
    height: 67px;
    width: 328px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
    font: white;
    color: white;
    margin: 10px;
    transition: 2s background;
    cursor: pointer; 
}


textarea {
    background-color: white;
    height: 900px;
    width: 400px;
    left: 1000px;
    top: 40px;
    border-radius: 32px;
    align-content: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.entrada-texto{
    height: 67px;
    width: 328px;
    left: 352px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
    background-color: rgb(220, 237, 244);
    font: black;
    border-radius: 10px;
    text-align: justify;
}

.text-input{
    background-color:rgb(220, 237, 244);
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 48px;
    line-height: 150%;
    box-align: left;
    resize: none;
}


footer{
    background-color: rgb(36, 133, 218);
    text-align: center;
    box-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
    color: white;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    flex:auto;
    margin-top: 20px;
 }

 .input li:active{
     border: white;
 }

 form label{
     display: block;
 }
#contacto{
    color: rgb(220, 237, 244);
    font-size: 20px; 
    display: inline;
    transition: 2s background;
    margin: 30px;
}

 .copyright li:active {
    border-color: white;
 }
 
 nav{
    display: inline-block;
    margin: 10px;
    padding: 10px;
 }
